<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location information
        </div>
        <div class="item">
            <h2>Our Address</h2>
            <h2>121, Clear Water Bay Road</h2>
            <h2>Clear Water Bay, Kowloon</h2>
            <h2>HONG KONG</h2>
            <h2><i class="icon ion-android-call"></i>: +852 1234 5678</h2>
            <h2><i class="icon ion-printer"></i>: +852 8765 4321</h2>
            <h2><i class="icon ion-email"></i>:  <a href="http://confusion@food.net" target="_system">confusion@food.net</a> </h2>            
            <br>    
        </div>
            <div class="button-bar">
              <a class="button button-positive icon-left ion-android-call">Call</a>
              <a class="button button-calm icon-left ion-social-skype">Skype</a>
              <a class="button button-balanced icon-left ion-email">Email</a>
            </div>          
    </div>
     
  </ion-content>
</ion-view>

